In [1]:
%matplotlib inline
import DataHelper

In [2]:
d = DataHelper.eclass_data()

In [3]:
# buffy gender unmatched
d.get_buffy_post().groupby('Q54').count()

,anon_student_id,survey_id,duration,Q47,Q48,Q49,Q50,Q52_1,Q52_2,Q52_3,...,q29a,q29b,q30a,q30b,q30c,q31a,q31b,q40a,q40b,ResponseId
Q54,,,,,,,,,,,,,,,,,,,,,
1.0,1262,1262,1262,1260,306,1262,1261,10,292,50,...,1262,1261,1260,1258,1258,1262,1261,1262,1262,1262
2.0,2621,2621,2621,2608,720,2621,2617,24,572,73,...,2619,2613,2617,2616,2612,2621,2617,2621,2621,2621
3.0,62,62,62,61,24,62,61,4,11,7,...,62,62,62,62,62,62,62,62,62,62

In [4]:
d.get_buffy_post().isnull().sum(axis = 0).Q54

102

In [5]:
# buffy gender matched
d.get_buffy_matched().groupby('Q54').count()

,anon_student_id,survey_id_pre,duration_pre,q01a_pre,q01b_pre,q27a_pre,q27b_pre,q03a_pre,q03b_pre,q22a_pre,...,q28c,q29a_post,q29b_post,q30a_post,q30b_post,q30c,q31a_post,q31b_post,q40a_post,q40b_post
Q54,,,,,,,,,,,,,,,,,,,,,
1.0,976,976,976,975,971,975,973,973,973,974,...,969,976,976,974,973,972,976,975,976,976
2.0,2012,2012,2012,2010,2006,2007,2002,2008,2008,2007,...,2005,2010,2008,2010,2010,2007,2012,2008,2012,2012
3.0,52,52,52,52,52,52,52,52,52,51,...,51,52,52,52,52,52,52,52,52,52

In [6]:
d.get_buffy_matched().isnull().sum(axis = 0).Q54

79

In [7]:
# intro gender unmatched
d.get_intro_post().groupby('Q54').count()

,anon_student_id,survey_id,duration,Q47,Q48,Q49,Q50,Q52_1,Q52_2,Q52_3,...,q29a,q29b,q30a,q30b,q30c,q31a,q31b,q40a,q40b,ResponseId
Q54,,,,,,,,,,,,,,,,,,,,,
1.0,11495,11495,11495,11472,3632,11495,11467,130,2786,1116,...,11484,11474,11475,11461,11468,11493,11472,11495,11495,11495
2.0,14757,14757,14757,14707,5540,14757,14714,146,3599,840,...,14732,14709,14736,14707,14717,14750,14723,14757,14757,14757
3.0,252,252,252,251,100,252,252,8,35,17,...,251,250,251,251,251,252,249,252,252,252

In [8]:
d.get_intro_post().isnull().sum(axis = 0).Q54

608

In [9]:
# intro gender unmatched
d.get_intro_matched().groupby('Q54').count()

,anon_student_id,survey_id_pre,duration_pre,q01a_pre,q01b_pre,q27a_pre,q27b_pre,q03a_pre,q03b_pre,q22a_pre,...,q28c,q29a_post,q29b_post,q30a_post,q30b_post,q30c,q31a_post,q31b_post,q40a_post,q40b_post
Q54,,,,,,,,,,,,,,,,,,,,,
1.0,9201,9201,9201,9188,9178,9184,9173,9180,9176,9175,...,9175,9194,9189,9189,9181,9186,9199,9186,9201,9201
2.0,11461,11461,11461,11452,11440,11445,11434,11435,11423,11430,...,11414,11442,11422,11444,11427,11435,11458,11437,11461,11461
3.0,196,196,196,196,196,196,196,196,196,196,...,195,196,195,195,195,195,196,193,196,196

In [10]:
d.get_intro_matched().isnull().sum(axis = 0).Q54

463

In [11]:
# race
d.get_intro_post()[['Q52_1','Q52_2','Q52_3','Q52_4','Q52_5','Q52_6','Q52_7','race_unknown']].sum()

Q52_1             287.0
Q52_2            6502.0
Q52_3            1984.0
Q52_4            2498.0
Q52_5             266.0
Q52_6           15404.0
Q52_7             721.0
race_unknown     1736.0
dtype: float64

In [12]:
d.get_intro_matched()[['Q52_1','Q52_2','Q52_3','Q52_4','Q52_5','Q52_6','Q52_7','race_unknown']].sum()

Q52_1             222.0
Q52_2            5148.0
Q52_3            1438.0
Q52_4            1966.0
Q52_5             209.0
Q52_6           12366.0
Q52_7             538.0
race_unknown     1268.0
dtype: float64

In [13]:
d.get_buffy_post()[['Q52_1','Q52_2','Q52_3','Q52_4','Q52_5','Q52_6','Q52_7','race_unknown']].sum()

Q52_1             39.0
Q52_2            891.0
Q52_3            132.0
Q52_4            260.0
Q52_5             31.0
Q52_6           2526.0
Q52_7            157.0
race_unknown     284.0
dtype: float64

In [14]:
d.get_buffy_matched()[['Q52_1','Q52_2','Q52_3','Q52_4','Q52_5','Q52_6','Q52_7','race_unknown']].sum()

Q52_1             29.0
Q52_2            734.0
Q52_3             92.0
Q52_4            197.0
Q52_5             20.0
Q52_6           1919.0
Q52_7            114.0
race_unknown     219.0
dtype: float64

In [15]:
d.get_buffy_matched()

,anon_student_id,survey_id_pre,duration_pre,q01a_pre,q01b_pre,q27a_pre,q27b_pre,q03a_pre,q03b_pre,q22a_pre,...,q28c,q29a_post,q29b_post,q30a_post,q30b_post,q30c,q31a_post,q31b_post,q40a_post,q40b_post
0,39884,00KRiRH91SoGB3T,529.0,5.0,5.0,4.0,5.0,4.0,5.0,4.0,...,4.0,5.0,5.0,4.0,5.0,3.0,5.0,5.0,4.0,4.0
1,39885,00KRiRH91SoGB3T,507.0,5.0,5.0,5.0,5.0,3.0,5.0,3.0,...,5.0,5.0,5.0,3.0,3.0,3.0,5.0,5.0,4.0,4.0
2,39886,00KRiRH91SoGB3T,555.0,5.0,5.0,4.0,5.0,2.0,5.0,4.0,...,3.0,4.0,5.0,4.0,5.0,4.0,4.0,5.0,4.0,4.0
3,39887,00KRiRH91SoGB3T,591.0,5.0,5.0,5.0,5.0,3.0,2.0,4.0,...,5.0,5.0,5.0,3.0,4.0,3.0,5.0,5.0,4.0,4.0
4,39888,00KRiRH91SoGB3T,686.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3114,15739,ezWArSvyMDBrYl7,963.0,5.0,5.0,5.0,5.0,4.0,5.0,4.0,...,2.0,2.0,5.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0
3115,3819,ezWArSvyMDBrYl7,604.0,5.0,5.0,3.0,5.0,4.0,5.0,3.0,...,3.0,4.0,4.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0
3116,3016,ezWArSvyMDBrYl7,475.0,5.0,3.0,5.0,3.0,5.0,5.0,2.0,...,5.0,5.0,5.0,3.0,3.0,5.0,5.0,5.0,4.0,4.0
3117,15742,ezWArSvyMDBrYl7,547.0,4.0,5.0,4.0,5.0,4.0,5.0,2.0,...,5.0,5.0,5.0,4.0,4.0,4.0,5.0,5.0,4.0,4.0
3118,3018,ezWArSvyMDBrYl7,335.0,4.0,5.0,4.0,5.0,5.0,5.0,2.0,...,5.0,5.0,5.0,3.0,3.0,5.0,5.0,5.0,4.0,4.0